BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Always
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
TabWidth: 4
ColumnLimit: 120
PointerAlignment: Right
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
